<div  class="col" style="background-color: aliceblue;">
    <form [formGroup]="machineForm" (ngSubmit)="submitForm()">
     <h6>Ajouter machine(s):</h6>
     <div formArrayName="machines">
       <div *ngFor="let machine of machines.controls; let index = index" [formGroupName]="index">
           <label for="nomMachine{{index}}">Nom de la machine {{index + 1}}:</label>
           <input id="nomMachine{{index}}" type="text" class="form-control" formControlName="nomMachine" required minlength="3" pattern="[a-zA-Zéè ]+[0-9]*">
           <div class="error" *ngIf="machines.controls[index].get('nomMachine')?.touched && !machines.controls[index].get('nomMachine')?.valid">
             <div *ngIf="machines.controls[index].get('nomMachine')?.hasError('required')">Ce champ est obligatoire, veuillez le remplir</div>
             <div *ngIf="machines.controls[index].get('nomMachine')?.hasError('minlength')">Ce champ doit contenir au moins 3 caractères</div>
             <div *ngIf="machines.controls[index].get('nomMachine')?.hasError('pattern')">Attention! Ce champ peut contenir que des lettres,chiffres et espaces</div>
           </div>

           <label for="matricule{{index}}">Matricule de la machine {{index + 1}}:</label>
           <input id="matricule{{index}}" type="text" class="form-control" formControlName="matricule" required minlength="3" pattern="[a-zA-Z]*[0-9]*">
           <div class="error" *ngIf="machines.controls[index].get('matricule')?.touched && !machines.controls[index].get('matricule')?.valid">
             <div *ngIf="machines.controls[index].get('matricule')?.hasError('required')">Ce champ est obligatoire, veuillez le remplir</div>
             <div *ngIf="machines.controls[index].get('matricule')?.hasError('minlength')">Ce champ doit contenir au moins 3 caractères</div>
             <div *ngIf="machines.controls[index].get('matricule')?.hasError('pattern')">Attention! Ce champ peut contenir que des lettres et chiffres</div>
           </div>

           <label for="car{{index}}">Caratéristique numérique de la machine {{index + 1}}:</label>
           <input id="car{{index}}" type="number" class="form-control" formControlName="caracteristiqueNumerique"  min="0" required pattern="[0-9]+[.0-9]*">
           <div class="error" *ngIf="machines.controls[index].get('caracteristiqueNumerique')?.touched && !machines.controls[index].get('caracteristiqueNumerique')?.valid">
             <div *ngIf="machines.controls[index].get('caracteristiqueNumerique')?.hasError('required')">Ce champ est obligatoire, veuillez le remplir</div>
             <div *ngIf="machines.controls[index].get('caracteristiqueNumerique')?.hasError('pattern')">Attention! Ce champ peut contenir qu'un nombre positif</div>
           </div>
           
           <label for="deps">Département de la machine {{index + 1}}:</label>
           <select id="deps" style="text-align: center;font-size: 30px;background-color: rgb(175, 251, 251);" class="form-select" formControlName="departement">
             @for(item of departements; track $index){
                   <option [value]="item.idDepartement">{{item.nomDepartement}}</option>    
               }
           </select>

           <label for="type{{index}}">Type de la machine {{index + 1}}:</label>
           <select id="type{{index}}" style="text-align: center;font-size: 30px;background-color: rgb(175, 251, 251);" class="form-select"  formControlName="typeMachine" required>
               @for (item of typeList; track $index) {
                   <option [value]="item.idType" >{{item.nomType}}</option>
                  }
           </select>
            
           <label for="model{{index}}">Modèle de la machine {{index + 1}}:</label>
           <select id="model{{index}}" style="text-align: center;font-size: 30px;background-color: rgb(175, 251, 251);" class="form-select" formControlName="modelMachine" required>
               @for (item of modelList; track $index) {
                   <option [value]="item.idmodelMachine" >{{item.nomModel}}</option>
                  }
          </select>
          <label for="marque{{index}}">Marque de la machine {{index + 1}}:</label>
             <select id="marque{{index}}" style="text-align: center;font-size: 30px;background-color: rgb(175, 251, 251);" class="form-select"  formControlName="marque" required>
              @for (item of marqueList; track $index) {
               <option [value]="item.idMarque">{{item.nomMarque}}</option>
              }
             </select>
           <label>Etat de la machine {{index+1}}:</label>  
           <div class="row">
               <div class="col-6">
                   <div class="card text-center" (click)="focus('en Marche',index)" [style.background]="Gstates[index][0].background">
                       <div class="card-body" style="padding-top: 30px;">
                           <p style="font-weight: 900;color:black">en Marche</p>
                       </div>
                   </div>
               </div>
               <div class="col-6">
                   <div  class="card text-center" (click)="focus('en Arrét',index)" [style.background]="Gstates[index][1].background">
                       <div  class="card-body" style="padding-top: 30px;" >
                           <p style="font-weight: 900;color:black">en Arrét</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
     </div>
     <div class="row">
       <div class="col">
         <button type="button" (click)="addMachine()" title="ajouter une autre machine" class="btn btn-success add">
           <span></span><span></span>
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
             <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
           </svg>
           <span></span><span></span>
         </button>
       </div>
       <div class="col" *ngIf="machineForm.value?.machines.length>0">
         <button type="button" (click)="removeMachine()"  title="supprimer le dernier type ajouté" class="btn btn-danger remove">
           <span></span><span></span>
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
             <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
             <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
           </svg>
           <span></span><span></span>
         </button>
       </div>
     </div>
     <div class="col-12 d-grid">
       <button type="submit" class="btn btn-primary">Enregistrer</button>
     </div>   
   </form>            
 </div>
 <simple-notifications></simple-notifications>