
    
            <div class="table-responsive mb-4">
                <table class="table table-bordered" style="border: 1px solid black;">
                    <thead>
                        <tr>
                            <th class="bg-body-tertiary">Supervisor / Team Leader</th>
                            <th colspan="18" class="bg-body-tertiary">Production en (Kg)</th>
                            <th colspan="1" class="bg-body-tertiary">Production Globale (Kg)</th>
                            <th colspan="1" class="bg-body-tertiary">Production Moyenne (Kg)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2" style="background-color: aliceblue;"><b>Sup.Signor:</b> CHOAUIB <br><br>Team leader:
                                SAIDA</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
        
                            <td rowspan="2">12345</td> <!-- Insert the value for "Production Globale (Kg)" -->
                            <td rowspan="2">600</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <!-- Add more rows for other supervisors and team leaders -->
                        <tr>
                            <td rowspan="2" style="background-color: aliceblue;"><b>Sup.Signor:</b> ISSAM <br><br>Team leader:
                                TAYSIR</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td rowspan="2">12345</td> <!-- Insert the value for "Production Globale (Kg)" -->
                            <td rowspan="2">600</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="background-color: aliceblue;"><b>Sup.Signor:</b> ABD ELATIF <br><br>Team
                                leader: MONIA</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td rowspan="2">12345</td> <!-- Insert the value for "Production Globale (Kg)" -->
                            <td rowspan="2">600</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>950</td>
                            <td>1164</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td class="bg-body-secondary"><b>Total</b></td>
                            <td colspan="18"></td>
                            <td>37015</td>
                            <td>1800</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--<canvas id="myChart" width="60" height="20"></canvas>--> 
        <hr>
        <div class="podium">
            <div class="d-flex flex-column align-items-center gap-4">
                <div class="card card-body bg-body-tertiary">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex gap-5 mb-3">
                                <div class="sup">
                                    <h5 class="card-title">Sup.Signor</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">ISSAM</h6>
                                </div>
                                <div class="leader">
                                    <h5 class="card-title">Team Leader</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">TAYSIR</h6>
                                </div>
                            </div>
                            <table class="table table-bordered m-0">
                                <tr>
                                    <td>Prod Moyenne (Kg)</td>
                                    <td>1125</td>
                                </tr>
                                <tr>
                                    <td>Prod Globale (Kg)</td>
                                    <td>3554</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="width: 80px; height: 40px; background-color: silver; text-align: center;">
                    <p style="font-size: 16px; margin: 0; line-height: 40px;"><b>2</b></p>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center gap-4">
                <div class="card card-body bg-body-tertiary">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex gap-5 mb-3">
                                <div class="sup">
                                    <h5 class="card-title">Sup.Signor</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">ISSAM</h6>
                                </div>
                                <div class="leader">
                                    <h5 class="card-title">Team Leader</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">TAYSIR</h6>
                                </div>
                            </div>
                            <table class="table table-bordered m-0">
                                <tr>
                                    <td>Prod Moyenne (Kg)</td>
                                    <td>1125</td>
                                </tr>
                                <tr>
                                    <td>Prod Globale (Kg)</td>
                                    <td>3554</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="width: 100px; height: 50px; background-color: gold; text-align: center;">
                    <p style="font-size: 18px; margin: 0; line-height: 50px;"><b>1</b></p>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center gap-4">
                <div class="card card-body bg-body-tertiary">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex gap-5 mb-3">
                                <div class="sup">
                                    <h5 class="card-title">Sup.Signor</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">ISSAM</h6>
                                </div>
                                <div class="leader">
                                    <h5 class="card-title">Team Leader</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">TAYSIR</h6>
                                </div>
                            </div>
                            <table class="table table-bordered m-0">
                                <tr>
                                    <td>Prod Moyenne (Kg)</td>
                                    <td>1125</td>
                                </tr>
                                <tr>
                                    <td>Prod Globale (Kg)</td>
                                    <td>3554</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="width: 60px; height: 30px; background-color: #cd7f32; text-align: center;">
                    <p style="font-size: 14px; margin: 0; line-height: 30px; color: white;"><b>3</b></p>
                </div>
            </div>
        </div>
