<div class="header card card-body mb-3">
    <div class="col-sm-5">
        <div class="d-flex flex-column gap-1">
            <h2 class="mb-3">Production mensuelle par équipe</h2>
            <div class="d-flex flex-column">
                <div class="d-flex flex-column mb-2">
                    <p class="mb-1">Département</p>
                    <select class="form-select" required name="departement" [(ngModel)]="selectedDepId"
                        (change)="loadPersonnel(selectedDepId); loadProductions(selectedDepId); calculateRankings()">
                        <option value=0 selected disabled>Selectionner un departement</option>
                        @for(dep of departements; track $index) {
                        <option [value]="dep.id_departement">{{dep.nom_departement}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive mb-4">
    <table class="table table-bordered" style="border: 1px solid black;">
        <thead>
            <tr>
                <th class="bg-body-tertiary">Superviseur / Team Leader</th>
                <th [colSpan]="productions.equipeJour.length / 2" class="bg-body-tertiary">
                    Production (Kg)
                </th>
                <th colspan="1" class="bg-body-tertiary">Production Mensuelle (Kg)</th>
                <th colspan="1" class="bg-body-tertiary">Production Moyenne (Kg)</th>
            </tr>
        </thead>
        <tbody>
            @if (selectedDepId){
            <!-------------------------  Equipe JOUR  --------------------------------->
            <tr>
                <td style="background-color: aliceblue;">
                    <b>Sup.Signor</b>
                    {{equipes.equipeJour[0].nom_prenom}}
                </td>
                <ng-container>
                    @for (prod of productions.equipeJour.slice(0, (productions.equipeJour.length / 2) + 1); track
                    $index){
                    <td>{{prod}}</td>
                    }
                </ng-container>
                <td rowspan="2" style="font-size: 22px;">{{calculateProdMensuelle('jour')}}</td>
                <td rowspan="2" style="font-size: 22px;">{{calculateMean(productions.equipeJour)}}</td>
            </tr>
            <tr>
                <td style="background-color: aliceblue;">
                    <b>Team Leader</b>
                    {{equipes.equipeJour[1].nom_prenom}}
                </td>
                <ng-container>
                    @for (prod of productions.equipeJour.slice(productions.equipeJour.length / 2); track $index){
                    <td>{{prod}}</td>
                    }
                </ng-container>
            </tr>

            <!-------------------------  Equipe MIDI  --------------------------------->
            <tr>
                <td style="background-color: aliceblue;">
                    <b>Sup.Signor</b>
                    {{equipes.equipeMidi[0].nom_prenom}}
                </td>
                @for (prod of productions.equipeMidi.slice(0, productions.equipeMidi.length / 2); track $index){
                <td>{{prod}}</td>
                }
                <td rowspan="2" style="font-size: 22px;">{{calculateProdMensuelle('midi')}}</td>
                <td rowspan="2" style="font-size: 22px;">{{calculateMean(productions.equipeMidi)}}</td>
            </tr>
            <tr>
                <td style="background-color: aliceblue;">
                    <b>Team Leader</b>
                    {{equipes.equipeMidi[1].nom_prenom}}
                </td>
                @for (prod of productions.equipeMidi.slice(productions.equipeMidi.length / 2); track $index){
                <td>{{prod}}</td>
                }
            </tr>

            <!-------------------------  Equipe NUIT  --------------------------------->
            <tr>
                <td style="background-color: aliceblue;">
                    <b>Sup.Signor</b>
                    {{equipes.equipeNuit[0].nom_prenom}}
                </td>
                @for (prod of productions.equipeNuit.slice(0, productions.equipeNuit.length / 2); track $index){
                <td>{{prod}}</td>
                }
                <td rowspan="2" style="font-size: 22px;">{{calculateProdMensuelle('nuit')}}</td>
                <td rowspan="2" style="font-size: 22px;">{{calculateMean(productions.equipeNuit)}}</td>
            </tr>
            <tr>
                <td style="background-color: aliceblue;">
                    <b>Team Leader</b>
                    {{equipes.equipeNuit[1].nom_prenom}}
                </td>
                @for (prod of productions.equipeNuit.slice(productions.equipeNuit.length / 2); track $index){
                <td>{{prod}}</td>
                }
            </tr>
            }

        </tbody>
    </table>
</div>


<!--<canvas id="myChart" width="60" height="20"></canvas>-->
<hr>
<div class="podium">
    <div class="d-flex flex-column align-items-center gap-4">
        <div class="card card-body bg-body-tertiary">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex gap-5 mb-3">
                        <div class="sup">
                            <h5 class="card-title">Sup.Signor</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">ISSAM</h6>
                        </div>
                        <div class="leader">
                            <h5 class="card-title">Team Leader</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">TAYSIR</h6>
                        </div>
                    </div>
                    <table class="table table-bordered m-0">
                        <tr>
                            <td>Prod Moyenne (Kg)</td>
                            <td>1125</td>
                        </tr>
                        <tr>
                            <td>Prod Mensuelle (Kg)</td>
                            <td>3554</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="width: 80px; height: 40px; background-color: silver; text-align: center;">
            <p style="font-size: 16px; margin: 0; line-height: 40px;"><b>2</b></p>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center gap-4">
        <div class="card card-body bg-body-tertiary">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex gap-5 mb-3">
                        <div class="sup">
                            <h5 class="card-title">Sup.Signor</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">ISSAM</h6>
                        </div>
                        <div class="leader">
                            <h5 class="card-title">Team Leader</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">TAYSIR</h6>
                        </div>
                    </div>
                    <table class="table table-bordered m-0">
                        <tr>
                            <td>Prod Moyenne (Kg)</td>
                            <td>1125</td>
                        </tr>
                        <tr>
                            <td>Prod Mensuelle (Kg)</td>
                            <td>3554</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="width: 100px; height: 50px; background-color: gold; text-align: center;">
            <p style="font-size: 18px; margin: 0; line-height: 50px;"><b>1</b></p>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center gap-4">
        <div class="card card-body bg-body-tertiary">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex gap-5 mb-3">
                        <div class="sup">
                            <h5 class="card-title">Sup.Signor</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">ISSAM</h6>
                        </div>
                        <div class="leader">
                            <h5 class="card-title">Team Leader</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">TAYSIR</h6>
                        </div>
                    </div>
                    <table class="table table-bordered m-0">
                        <tr>
                            <td>Prod Moyenne (Kg)</td>
                            <td>1125</td>
                        </tr>
                        <tr>
                            <td>Prod Mensuelle (Kg)</td>
                            <td>3554</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="width: 60px; height: 30px; background-color: #cd7f32; text-align: center;">
            <p style="font-size: 14px; margin: 0; line-height: 30px; color: white;"><b>3</b></p>
        </div>
    </div>
</div>