<div class="header card card-body mb-3">
    <div class="col-sm-5">
        <div class="d-flex flex-column gap-1">
            <h2 class="mb-3">Production mensuelle par équipe</h2>
            <div class="d-flex flex-column">
                <div class="d-flex flex-column mb-2">
                    <p class="mb-1">Département</p>
                    <select class="form-select" required name="departement" [(ngModel)]="selectedDepId"
                        (change)="loadPersonnel(selectedDepId); loadProductions(selectedDepId)">
                        <option value=0 selected disabled>Selectionner un departement</option>
                        @for(dep of departements; track $index) {
                        <option [value]="dep.id_departement">{{dep.nom_departement}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive mb-4">
    <table class="table table-bordered" style="border: 1px solid black;">
        <thead>
            <tr>
                <th class="bg-body-tertiary">Superviseur / Team Leader</th>
                @if(productions.equipeJour.length){
                <th [colSpan]="productions.equipeJour.length" class="bg-body-tertiary">
                    Production (Kg)
                </th>
                }
                <th class="bg-body-tertiary">Production Mensuelle (Kg)</th>
                <th class="bg-body-tertiary">Production Moyenne (Kg)</th>
            </tr>
        </thead>
        <tbody>
            @if (selectedDepId){
            <!-------------------------  Equipe JOUR  --------------------------------->
            <tr>
                <td style="background-color: aliceblue;">
                    <p style="font-size: 22px;" class="m-0">Equipe Jour</p>
                    <hr class="m-0 mb-2">
                    <b>Sup.Signor</b>
                    {{equipes.equipeJour[0].nom_prenom}}
                    <br>
                    <b>Team Leader</b>
                    {{equipes.equipeJour[1].nom_prenom}}
                </td>
                @if(productions.equipeJour.length){
                @for (prod of productions.equipeJour; track $index){
                <td>{{prod}}</td>
                }
                }
                @else {
                <td></td>
                }
                <td style="font-size: 22px;">{{calculateProdMensuelle('jour')}}</td>
                <td style="font-size: 22px;">{{calculateMean(productions.equipeJour)}}</td>
            </tr>

            <!-------------------------  Equipe MIDI  --------------------------------->
            <tr>
                <td style="background-color: aliceblue;">
                    <p style="font-size: 22px;" class="m-0">Equipe Midi</p>
                    <hr class="m-0 mb-2">
                    <b>Sup.Signor</b>
                    {{equipes.equipeMidi[0].nom_prenom}}
                    <br>
                    <b>Team Leader</b>
                    {{equipes.equipeMidi[1].nom_prenom}}
                </td>
                @if(productions.equipeMidi.length){
                @for (prod of productions.equipeMidi; track $index){
                <td>{{prod}}</td>
                }
                }
                @else {
                <td></td>
                }
                <td style="font-size: 22px;">{{calculateProdMensuelle('midi')}}</td>
                <td style="font-size: 22px;">{{calculateMean(productions.equipeMidi)}}</td>
            </tr>

            <!-------------------------  Equipe NUIT  --------------------------------->
            <tr>
                <td style="background-color: aliceblue;">
                    <p style="font-size: 22px;" class="m-0">Equipe Nuit</p>
                    <hr class="m-0 mb-2">
                    <b>Sup.Signor</b>
                    {{equipes.equipeNuit[0].nom_prenom}}
                    <br>
                    <b>Team Leader</b>
                    {{equipes.equipeNuit[1].nom_prenom}}
                </td>
                @if(productions.equipeNuit.length){
                @for (prod of productions.equipeNuit; track $index){
                <td>{{prod}}</td>
                }
                }
                @else {
                <td></td>
                }
                <td style="font-size: 22px;">{{calculateProdMensuelle('nuit')}}</td>
                <td style="font-size: 22px;">{{calculateMean(productions.equipeNuit)}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>


<!--<canvas id="myChart" width="60" height="20"></canvas>-->
<hr>
<div class="podium">
    <div class="d-flex flex-column align-items-center gap-4">
        <div class="card card-body bg-body-tertiary">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="text-center mb-3 fw-bold" style="font-size: 18px;">
                        <p>{{rankings.second.equipe}}</p>
                    </div>
                    <table class="table table-bordered m-0">
                        <tr>
                            <td>Prod Moyenne (Kg)</td>
                            <td>{{rankings.second.prodMoyenne}}</td>
                        </tr>
                        <tr>
                            <td>Prod Mensuelle (Kg)</td>
                            <td>{{rankings.second.prodMensuelle}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="width: 80px; height: 40px; background-color: silver; text-align: center;">
            <p style="font-size: 16px; margin: 0; line-height: 40px;"><b>2</b></p>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center gap-4">
        <div class="card card-body bg-body-tertiary">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="text-center mb-3 fw-bold" style="font-size: 18px;">
                        <p>{{rankings.first.equipe}}</p>
                    </div>
                    <table class="table table-bordered m-0">
                        <tr>
                            <td>Prod Moyenne (Kg)</td>
                            <td>{{rankings.first.prodMoyenne}}</td>
                        </tr>
                        <tr>
                            <td>Prod Mensuelle (Kg)</td>
                            <td>{{rankings.first.prodMensuelle}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="width: 100px; height: 50px; background-color: gold; text-align: center;">
            <p style="font-size: 18px; margin: 0; line-height: 50px;"><b>1</b></p>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center gap-4">
        <div class="card card-body bg-body-tertiary">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="text-center mb-3 fw-bold" style="font-size: 18px;">
                        <p>{{rankings.third.equipe}}</p>
                    </div>
                    <table class="table table-bordered m-0">
                        <tr>
                            <td>Prod Moyenne (Kg)</td>
                            <td>{{rankings.third.prodMoyenne}}</td>
                        </tr>
                        <tr>
                            <td>Prod Mensuelle (Kg)</td>
                            <td>{{rankings.third.prodMensuelle}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="width: 60px; height: 30px; background-color: #cd7f32; text-align: center;">
            <p style="font-size: 14px; margin: 0; line-height: 30px; color: white;"><b>3</b></p>
        </div>
    </div>
</div>