

th.thead {
    background-color: #3b589878;
}

button {
    justify-content: center;
    display: flex;
    border: none;
    background: none;
}

button.edit:hover {
    color: blue;
}

button.delete:hover {
    color: red;
}

button.visibility:hover {
    color:rgb(50, 205, 96);
}
