button {
    justify-content: center;
    display: flex;
    border: none;
    background: none;
}

button.edit:hover {
    color: blue;
}

button.delete:hover {
    color: red;
}

button.visibility:hover {
    color: rgb(50, 205, 96);
}

.arrow-icon {
    margin: 0;
    font-size: 18px;
}

.arrow-up::after {
    content: '\2B99';
}

.arrow-down::after {
    content: '\2B9B';
}