<simple-notifications></simple-notifications>
<div class="header card card-body mb-3">
    <div class="col-sm-10">
        <div class="d-flex flex-column gap-1">
            <h2 class="mb-3" style="font-weight: bold;">Liste des productions</h2>
            <div class="d-flex flex-column mb-1">
                <div class="d-flex flex-column gap-2 mb-3">
                    <p class="mb-0 text-body-secondary" style="text-decoration: underline;">Operations</p>
                    <div class="d-flex gap-2 align-items-center">
                        <span class="material-symbols-outlined" style="font-size: 20px;">
                            visibility
                        </span>
                        <p class="m-0">Consulter details production</p>
                    </div>
                    <div class="d-flex gap-2 align-items-center">
                        <span class="material-symbols-outlined" style="font-size: 20px;">
                            edit
                        </span>
                        <p class="m-0">Modifier production</p>
                    </div>
                    <div class="d-flex gap-2 align-items-center">
                        <span class="material-symbols-outlined" style="font-size: 20px;">
                            delete
                        </span>
                        <p class="m-0">Supprimer production</p>
                    </div>
                </div>
                <p class="mb-1 text-body-secondary" style="text-decoration: underline;">Info</p>
                <p class="m-0">- Triez une colonne en cliquant sur l'entete correspondante</p>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover text-center">
    @if(listeProd?.length){
    <thead>
        <tr>
            <td scope="col" class="thead">#</td>
            <td scope="col" class="thead">
                <span (click)="sortColumn(1)">
                    Equipe
                    <i class="arrow-icon" [ngClass]="{'arrow-up': isAscending(1), 'arrow-down': isDescending(1)}"></i>
                </span>
            </td>
            <td scope="col" class="thead">
                <span (click)="sortColumn(2)">
                    Departement
                    <i class="arrow-icon" [ngClass]="{'arrow-up': isAscending(2), 'arrow-down': isDescending(2)}"></i>
                </span>
            </td>
            <td scope="col" class="thead">
                <span (click)="sortColumn(3)">
                    Date
                    <i class="arrow-icon" [ngClass]="{'arrow-up': isAscending(3), 'arrow-down': isDescending(3)}"></i>
                </span>
            </td>
            <td scope="col" class="thead">Operations</td>
        </tr>
    </thead>
    }
    <tbody>
        @for(prod of listeProd; track $index){
        <tr>
            <th scope="row">{{prod.id_entete}}</th>
            <td>{{equipes[$index].nom_equipe}}</td>
            <td>{{departements[$index].nom_departement}}</td>
            <td>{{formattedDates[$index]}}</td>
            <td class="d-flex justify-content-center gap-2 align-items-center">
                <button class="visibility" (click)="viewProduction(prod.id_entete)">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                </button>
                <button class="edit" (click)="editProduction(prod.id_entete)">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
                <button class="delete" (click)="deleteProduction(prod.id_entete)">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>