<div  class="col" style="background-color: aliceblue;">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <h6>Ajouter {{criteria}}(s):</h6>
        <div formArrayName="insertValues">
          <div *ngFor="let item of insertValues.controls; let index = index" [formGroupName]="index">
            <label>nom {{criteria}} {{index+1}}:</label>
            <input id="dept{{ index }}" type="text" class="form-control" formControlName="intitule" style="border: solid;"  required minlength="3" pattern="[a-zA-Zéè' ]+[0-9]*">
            <div class="error" *ngIf="insertValues.controls[index].get('intitule')?.touched && !insertValues.controls[index].get('intitule')?.valid">
                <div *ngIf="insertValues.controls[index].get('intitule')?.hasError('required')">Ce champ est obligatoire, veuillez le remplir</div>
                <div *ngIf="insertValues.controls[index].get('intitule')?.hasError('minlength')">Ce champ doit contenir au moins 3 caractères</div>
                <div *ngIf="insertValues.controls[index].get('intitule')?.hasError('pattern')">Attention! Ce champ peut contenir que des lettres,chiffres et espaces</div>
              </div>                       
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button style="margin-right: 0;" type="button" (click)="addValue()" title="ajouter un autre département" class="btn btn-success add">
              <span></span><span></span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
              </svg>
              <span></span><span></span>
            </button>
          </div>
          <div class="col">
             @if(form.value.insertValues.length>0){
              <button style="margin-left: 0;" type="button" (click)="removeDept()" title="supprimer le dernier département ajouté" class="btn btn-danger remove">
                <span></span><span></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
                <span></span><span></span>
              </button>
             }
          </div>
        </div>
        <div class="col-12 d-grid">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
</div>
