<div class="navbar-wrapper">
    <div class="window-container">

        <nav class="h-100">
            <div class="d-flex align-items-center h-100 gap-1">
                <a class="navbar-item">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                    <span>Accueil</span>
                </a>
                <a class="navbar-item">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <span>Se deconnecter</span>
                </a>

            </div>
        </nav>

    </div>
</div>