<div  class="col" style="background-color: aliceblue;">
    <label style="font-size: 30px;">Liste de machines:</label>
    <select id="machineList" style="font-size: 30px;text-align: center;background-color: rgb(175, 251, 251);" (change)="updateCurrentMachine()" class="form-select" [(ngModel)]="selectedMachine">
      @for (item of machineList; track $index) {
        <option [value]="item.matricule">{{item.nomMachine}}</option>
      }
    </select>
    <div class="row" style="margin:5px">
        <div class="col-4 d-grid">
            <button class="btn btn-success" (click)="buttonAction(0)">Ajouter Machine</button>
        </div>
        <div class="col-4 d-grid">
            <button class="btn btn-warning" (click)="buttonAction(1)">Modifier Machine</button>
        </div>
        <div class="col-4 d-grid">
            <button class="btn btn-danger" (click)="removeEntity(currentMachine.matricule)">Supprimer Machine</button>
        </div>
    </div>
    @if(shows[0]==true){
        <app-ajout-machine [machineList]="machineList"></app-ajout-machine>
      }
    @if(shows[1]==true){
        <label for="nomMachine">Nom de la machine:</label>
    <input id="nomMachine" type="text" class="form-control"  required minlength="3" pattern="[a-zA-Zéè ]+[0-9]*" [(ngModel)]="currentMachineNom">
    
    <label for="matricule">Matricule de la machine:</label>
    <input id="matricule" type="text" class="form-control"  required minlength="3" pattern="[a-zA-Z]*[0-9]*" [(ngModel)]="currentMachineMatr">
    
    <label for="car">Caratéristique numérique de la machine:</label>
    <input id="car" type="number" class="form-control"   min="0" required pattern="[0-9]+[.0-9]*" [(ngModel)]="currentMachineCar">
    
    <label for="deps">Départements de la machine:</label>
    <select id="deps" style="text-align: center;background-color: rgb(175, 251, 251);font-size:30px" class="form-select" [(ngModel)]="currentMachineDep">
      @for(item of departements; track $index){
            <option [value]="item.idDepartement">{{item.nomDepartement}}</option>    
        }
    </select>

    <label for="type">Type de la machine:</label>
    <select id="type" style="text-align: center;background-color: rgb(175, 251, 251);font-size: 30px;" class="form-select" [(ngModel)]="currentMachineType">
        @for (item of typeList; track $index) {
            <option [value]="item.idType" >{{item.nomType}}</option>
           }
    </select>

    <label for="model">Modèle de la machine:</label>
    <select id="model" style="text-align: center;background-color: rgb(175, 251, 251);font-size: 30px;" class="form-select" [(ngModel)]="currentMachineMode">
        @for (item of modelList; track $index) {
            <option [value]="item.idmodelMachine" >{{item.nomModel}}</option>
           }
   </select>
   <label for="marq">Marque de la machine:</label>
   <select id="marq" style="text-align: center;background-color: rgb(175, 251, 251);font-size: 30px;" class="form-select" [(ngModel)]="currentMachineMarq">
       @for (item of marqueList; track $index) {
           <option [value]="item.idMarque" >{{item.nomMarque}}</option>
          }
  </select>
   <label>Etat de la machine:</label>
   <div class="row">
    <div  class="col-6">
        <div class="card text-center" (click)="focus2('en Marche')" [style.background]="states[0].background">
            <div class="card-body" style="padding-top: 30px;">
                <p style="font-weight: 900;color:black">en Marche</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div  class="card text-center" (click)="focus2('en Arrét')" [style.background]="states[1].background">
            <div  class="card-body" style="padding-top: 30px;" >
                <p style="font-weight: 900;color:black">en Arrét</p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 6px;">
  <div class="col-10 offset-1 d-grid">
      <button class="btn btn-warning" (click)="updateEntity(currentMachine.matricule)">Appliquer la modification</button>
  </div>
</div>
    }
<simple-notifications></simple-notifications>