<form (ngSubmit)="submitForm(form)" #form="ngForm">
    <div class="card card-body">
        <div class="col-sm-5 mb-4">
            <div class="d-flex flex-column gap-3">
                <h2>Production journaliere</h2>
                <div class="d-flex align-items-center gap-3 mb-1">
                    <h5 class="m-0">Date</h5>
                    <input type="date" class="form-control" required [(ngModel)]="dateProd" name="date-prod" />
                </div>
                <div class="d-flex align-items-center gap-3 mb-1">
                    <h5 class="m-0">Departement</h5>
                    <select class="form-select" required [(ngModel)]="formData.idDepartement" name="departement"
                        (change)="loadListeEquipes(+formData.idDepartement)">
                        <option value=0 selected disabled>Selectionner un departement</option>
                        @for(dep of departements; track $index) {
                        <option [value]="dep.id_departement">{{dep.nom_departement}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex gap-3 mb-4">
            <div class="col-sm-4">
                <h5>Equipe</h5>
                <select class="form-select" required [(ngModel)]="formData.idEquipe" name="equipe"
                    [disabled]="!formData.idDepartement" (change)="loadListePersonnel(+formData.idEquipe)">
                    <option value=0 selected disabled>Selectionner une equipe</option>
                    @for (equipe of equipes; track $index){
                    <option [value]="equipe.id_equipe">{{equipe.id_equipe}} - {{ equipe.nom_equipe }}</option>
                    }
                </select>
            </div>
            <div class="col-sm">
                <h5>Superviseur</h5>
                <select class="form-select" required [(ngModel)]="formData.idSuperviseur" name="superviseur"
                    [disabled]="!formData.idEquipe">
                    <option value=0 selected disabled>Selectionner une superviseur</option>
                    @for (sup of listeSuperviseurs; track $index){
                    <option [value]="sup.id_personnel">{{ sup.nom_prenom }}</option>
                    }
                </select>
            </div>
            <div class="col-sm">
                <h5>Team leader</h5>
                <select class="form-select" required [(ngModel)]="formData.idTeamLeader" name="team_leader"
                    [disabled]="!formData.idEquipe">
                    <option value=0 selected disabled>Selectionner un team leader</option>
                    @for (leader of listeTeamLeaders; track $index){
                    <option [value]="leader.id_personnel">{{ leader.nom_prenom }}</option>
                    }
                </select>
            </div>
        </div>

        <button type="submit" class="button mt-4">Remplir details</button>

    </div>
</form>