
.suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #222831;
    max-height: 130px; 
    overflow-y: auto;
}

.suggestions-list-item {
    padding: 8px;
    font-size: 17px;
}

.suggestions-list-item:hover {
    background-color: #8b9dc363;
    cursor: pointer;
}

input, select {
    border: 1px solid #3b5998;
}

