.header {
    display: flex;
    flex-wrap: wrap;
    padding: 18px;
}

.table-input {
    border: none;
    width: 100%;
}

.table-input:hover {
    border: 1px solid #3b5998;
}

table {
    border: 1px solid #3b5998;
}

.form-check-input, select {
    border: 1px solid #176B87;
}

input {
    font-size: 20px;
    padding: 4px;
}

td {
    width: 30%;
}


