.header {
    display: flex;
    flex-wrap: wrap;
    padding: 18px;
}

.table-input {
    border: none;
    margin-top: 2px;
    width: 100%;
    padding: 6px;
    background: none;
}

.table-input:hover {
    border: 1px solid #3b5998;
}

table {
    border: 1px solid #3b5998;
}

th.thead {
    background-color: #3b589878;
}

th {
    width: 10%;
}

.form-check-input, select {
    border: 1px solid #176B87;
}

input {
    font-size: 20px;
}


