<div class="card card-body mb-3">
    <h2 style="font-weight: bold;" class="mb-3">Details de production du {{ date }}</h2>
    <h5>Departement 
        <span style="text-decoration: underline;">{{ dep?.nom_departement }}</span>
        ->
        <span style="font-weight: bold;">{{ equipe?.nom_equipe }}</span>
    </h5>
</div>
<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
            <td scope="col" class="thead">#</td>
            <td scope="col" class="thead">Machine</td>
            <td scope="col" class="thead">Systeme</td>
            <td scope="col" class="thead">Poduction en Kg</td>
            <td scope="col" class="thead">Nb Levata</td>
            <td scope="col" class="thead">Objectif Production</td>
        </tr>
    </thead>
    <tbody>
        @for(detail of details; track $index){
        <tr>
            <th scope="row">{{detail.id}}</th>
            <td>{{machines![$index].nom_machine}}</td>
            @if(machines![$index].systeme == 0){
            <td>-</td>
            }
            @else {
            <td>{{machines![$index].systeme}}</td>
            }
            <td>{{detail.production}}</td>
            <td>{{detail.nb_levata}}</td>
            <td>{{detail.objectif_production}}</td>
        </tr>
        }
    </tbody>
</table>
<button class="button">Total production</button>