.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 16px 0px; 
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.expand-icon {
    display: flex;
    align-items: center;
}

.sidebar-item:hover {
    background-color: #dfe3ee ;
    cursor: pointer;
    border-radius: 10px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
}


.sidebar {
    padding: 4px 3px 6px 6px;
    overflow-y: auto;
    height: calc(100vh - 80px);
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.dropdown-item:hover {
    color: #3b5998;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.main-content {
    height: 100%;
    overflow-y: auto;
    padding: 4px 6px 6px 2px;
    max-height: calc(100vh - 80px);
    overflow: auto;
}
